main, .searchHist {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

main {
    background-color: lightgreen;
}

.header {
    background-color: #6F2C4F;
    color: rgb(230, 127, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 120px;
}

.logo {
    padding-left: 30px;
    min-width: 300px;
    display: flex;
    font-family: 'Staatliches', cursive;
    font-size: 45px;
}

#btn {
    margin-right: 15px;
}

#btn-2 {
    padding: 10px 35px 10px 35px;
    margin-right: 30px;
}

#btn {
    padding: 10px 25px 10px 25px;
}

.searchHist {
    margin: 30px 30px 50px 30px;
}

.mainInfo {
    text-align: center;
}

.infoBlock{
    margin-top: 30px;
}

.four {
    background-color: #b03264;
    color: rgb(230, 127, 53);
    font-size: 30px;
}

.four p {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}

.eight {
    background-color: #6F2C4F;
    color: rgb(234, 216, 50);
    font-size: 30px;
}

.dropdown {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 20px;
}

#equalSign {
    margin: 80px 0px 80px 0px;
    color: white;
}

.converted {
    margin-bottom: 100px;
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #6F2C4F;
    color: #ffffff;
    height: 60px;
}